---
title: Uh Oh!
main: Something's not quite right here...
second: Something's not quite right here. <a href="/">Click here</a> to go back
---
<div class="center-align row valign-wrapper hide-on-small-only">
    <div class="col s6 m12 l12"><img class="responsive-img z-depth-5" src="#" id="404_easter_egg" style="width: 75%;" /></div>
</div>
<script type="text/javascript">
var rand = Math.floor(Math.random() * 8) + 1;
$('#404_easter_egg').attr('src', `/assets/img/404_easter_egg/${rand}.jpg`);
</script>