---
title: Admin
main: Admin Area
second: Public Access
---
<!-- <meta http-equiv="Refresh" content="0; url='https://gitlab.com/BitsNBobs3d/bitsnbobs3d.gitlab.io/-/pipelines'" /> -->
<div class="row">
    <div class="col s12 textblock rounded right-align z-depth-4">
        <div class="row">
            <div class="col s9 m10 l10">
                <div class="row">
                    <div class="col s4 m3 l2">
                        <a href="https://gitlab.com/BitsNBobs3d/bitsnbobs3d.gitlab.io/-/commits/main"><img alt="pipeline status" src="https://gitlab.com/BitsNBobs3d/bitsnbobs3d.gitlab.io/badges/main/pipeline.svg" /></a>
                    </div>
                </div>
            </div>
            <div class="col s3 m3 l2">
                <h6 class="courgette">Pipeline</h6>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 textblock rounded right-align z-depth-5">
        <div class="row">
            <div class="col s9 m10 l10">
                <p id="speed-index"></p>
                <p id="serverresponsetime"></p>
                <p id="network-server-latency"></p>
            </div>
            <div class="col s3 m3 l2">
                <h6 class="courgette">Efficiency Data</h6>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 textblock rounded right-align z-depth-5">
        <div class="row">
            <div class="col s9 m10 l10">
                <div class="row">
                    <div class="col s4 m3 l2">
                        <a href="https://gitlab.com/BitsNBobs3d/bitsnbobs3d.gitlab.io/-/pipelines" class="waves-effect waves-light btn">Pipeline</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 m3 l2">
                        <a class="waves-effect waves-light btn" href="https://gitlab.com/BitsNBobs3d/bitsnbobs3d.gitlab.io/-/artifacts">Artifacts</a>
                    </div>
                    <div class="col s4 m3 l2">
                        <a class="waves-effect waves-light btn" href="https://gitlab.com/BitsNBobs3d/bitsnbobs3d.gitlab.io/-/jobs/artifacts/main/browse/sitespeed-results?job=browser_performance">Metrics</a>
                    </div>
                </div>
            </div>
            <div class="col s3 m3 l2">
                <h6 class="courgette">Quick Links</h6>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
"use strict";
//https://gitlab.com/BitsNBobs3d/bitsnbobs3d.gitlab.io/-/jobs/artifacts/main/download?job=browser_performance
//main metrics zip file
if (!window.location.origin.includes("localhost")) {
    //this key is for GET data only, so good luck XD
    $.get('https://www.googleapis.com/pagespeedonline/v5/runPagespeed?url=https://bitsnbobs.tech&key=AIzaSyCBBNvbAaimGUliZ7BUj8RQvymz2vvsmZk',
        function(res) {
            var lighthouseaudits = res.lighthouseResult.audits;
            var firstlevelAudits = Object.keys(lighthouseaudits);
            var metricCount = firstlevelAudits.length;

            //for (let )


            //response speeds
            var speedindex = lighthouseaudits['speed-index']['numericValue']; //ms
            var serverresponsetime = lighthouseaudits['server-response-time']['numericValue']; //ms
            var networkserverlatency = lighthouseaudits['audits']['network-server-latency']; //ms
});



    } else {
    //dev
    console.log("Analytics are disabled, due to being in DEVELOPMENT");
}    


</script>