---
title: Blog
main: Well, hello!
second: A collection of rants...
tags: [ 'page']
---
<div class="row">
    <% sorted_articles.each do |post| %>
    <div class="col s12 m6 l4 textblock blogblock rounded z-depth-5">
        <div class="row center-align">
            <h4 class="courgette-black">
                <%= link_to post[:header], post.path %>
            </h4>
            <h6 class="courgette-black">
                <%= post[:date] %>
            </h6>
        </div>
    </div>
    <% end %>
</div>