---
title: Contact Us
main: Yoo Hoo!
second: Get in touch
tags: [ 'page']
---
<div class="row">
    <div class="col s12 textblock rounded left-align z-depth-5">
        <div class="row">
            <div class="col s12 m8 l8">
                <h5 class="courgette">Fancy a chat?</h5>
                <p>Well you're in the right place! Here, you can contact us in every way, shape, and form (other than carrier pigeon)!</p>
                <p>We aim to respond to all contact within 2 working days, but due to high volume, it may take as long as 4. Please rest assured, we will get to you as soon as possible!
                    <div class="row">
                        <div class="col s2">
                            <a href="https://www.facebook.com/bitsnbobstech"><i class="fa-brands fa-facebook-f fa-2xl"></i></a>
                        </div>
                        <div class="col s2">
                            <a href="https://www.instagram.com/bitsnbobstech"><i class="fa-brands fa-instagram fa-2xl"></i></a>
                        </div>
                        <div class="col s2">
                            <a href="https://wa.me/message/ZUNFQTGT4JEYF1"><i class="fa-brands fa-whatsapp fa-2xl"></i></a>
                        </div>
                        <div class="col s2">
                            <a href="https://www.tiktok.com/@bitsnbobstech?is_from_webapp=1&sender_device=pc"><i class="fa-brands fa-tiktok fa-2xl"></i></a>
                        </div>
                        <div class="col s2">
                            <a href="https://twitter.com/bitsnbobstech"><i class="fa-brands fa-square-twitter fa-2xl"></i></a>
                        </div>
                    </div>
            </div>
            <div class="col s12 m4 l4">
                <!-- modify this form HTML and place wherever you want your form -->
                <form action="https://formspree.io/f/manwnopq" method="POST">
                    <div class="input-field inline">
                        <input id="email_inline" type="email" name="email" class="validate">
                        <label for="email_inline">Email</label>
                        <span class="helper-text" data-error="invalid Email address" data-success=""></span>
                    </div>
                    <label>
                        <input type="checkbox" checked="checked" name="contact" />
                        <span>Can we contact you with regular updates?</span>
                    </label>
                    <div class="input-field">
                        <textarea id="textarea" class="materialize-textarea" name="message"></textarea>
                        <label for="textarea">Message</label>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col s12 textblock rounded left-align z-depth-5">
        <div class="row">
            <div class="col s6 m8 l8">
                <h6 class="courgette">FAQ</h6>
                <p>So, you want to know more? Great! So does everyone else, so here is just some of the more common question we get, with answers already available, just a search away. Neat, huh?</p>
            </div>
            <div id="FAQModalHolder" class="hidden">
            </div>
            <div class="col s6 m4 l4">
                <div class="row">
                    <div class="col s12">
                        <input id="FAQSearch" type="search" placeholder="Search here..." name="FAQSearch" />
                    </div>
                </div>
                <div class="row">
                    <div class="FAQContainer">
                        <table id="searchResults"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <script type="text/javascript">
$.get("/assets/data/FAQ.json", (data, status) => {
    var searchResultsModal = '';

    for (var i = 0; i < data.length; i++) {
        searchResultsModal = searchResultsModal + `<div id="modal${data[i].id}" class="modal"><div class="modal-content"><h4>${data[i].question}</h4><p>${data[i].answer}</p></div><div class="modal-footer"><a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a></div></div>`;
    }

    document.getElementById('FAQModalHolder').innerHTML = searchResultsModal;

    function searchData(question) {


        return data.filter(function(i, n) {
            return i.question.includes(question);
        });
    }

    document.addEventListener('input', function() {
        var searchterm = document.getElementById('FAQSearch').value;
        var searchResults = [];
        var searchResultsHTML = '';
        var searchResultsModal = '';
        for (var i = 0; i < data.length; i++) {
            if (data[i].question.includes(searchterm)) {
                searchResultsHTML = searchResultsHTML + `<tr><td>${data[i].question}</td><td><a href="#modal${i}" class="modal-trigger btn-small waves-effect waves-light">See</a></td></tr>`;
            }
        }
        if (searchterm !== '') {
            document.getElementById('searchResults').innerHTML = searchResultsHTML;
        } else {
            document.getElementById('searchResults').innerHTML = '';
        }

    });


    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
    });
});
</script> -->