---
title: Home
main: Welcome to the simple solution
second: for all things tech
---
<div class="row">
    <div class="col s12 textblock rounded left-align z-depth-5">
        <div class="row">
            <div class="col s8 m9 l9">
                <h5 class="courgette">Nice to meet you</h5>
                <p>We get it. Regardless of if it's because of money, time, or effort.<br />Jobs just pile up. That's why we're here. To put all three into it so you don't have to.</p>
                <p>Whether it's data recovery, device repair, or getting a hold of that perfect present, we can do it.</p>
            </div>
            <div class="col s4 m3 l3 center-align">
                <img class=" z-depth-5 responsive-img circle" src="/assets/img/spirited.jpg" alt="spirited away 3D print"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="main-carousel" data-flickity='{ "wrapAround": true, "adaptiveHeight": true }'>
        <div class="carousel-cell">
            <h4 class="hide-on-small-only">Device repair and upgrades</h4>
            <h4 class="hide-on-med-and-up">Device repair</h4>
            <p>From cracked phone screens to building custom gaming PC's, we can do it all, professionally and much cheaper than any high street store.</p>
            <p class="hide-on-small-only">Don't believe us? That's fine! Which is why, if we can't return your device either working or in the same state as we recieved it, you'll get full cost of repairs as a gesture of good will</p>
        </div>
        <div class="carousel-cell">
            <h4>Data Recovery</h4>
            <p>Lost some vital pictures? Or maybe you just really want those game saves back? We use tried and tested recovery methods to get anything and everything back for you!</p>
            <p class="hide-on-small-only">Sensitive data? No problem, we can arrange an NDA agreement beforehand to ensure you're always protected!</p>
        </div>
        <div class="carousel-cell">
            <h4>3D Printing</h4>
            <p>Custom presents, replacement plastic parts, custom cases and anything else you can dream up!</p>
            <p class="hide-on-small-only">Using non-toxic and biodegradable materials, we're even saving the environment.</p>
        </div>
        <div class="carousel-cell">
            <h4 class="hide-on-small-only">Web and Mobile Development</h4>
            <h4 class="hide-on-med-and-up">Development</h4>
            <p>Fancy something a bit more high tech? We cater to that too, pouring love into a custom made app or website to suit your needs and then some!</p>
            <p class="hide-on-small-only">And don't worry about it breaking. All our software and web products come with a litetime guarantee, in which we'll either fix it, or restore it to the state in which we sent it to you.</p>
        </div>
        <div class="carousel-cell">
            <h4>Don't believe us?</h4>
            <p>We're open and honest about all our reviews. Click below to see them!</p>
            <a id="tp-custom-button" href="https://uk.trustpilot.com/review/bitsnbobs.tech" class="btn waves-effect waves-light"></a>
        </div>
    </div>
</div>