---
title: Buy From Us
main: Tell us your dream
second: and we'll make it
tags: [ 'page']
---
<!-- <div class="row">
    <div class="col s12 textblock rounded left-align z-depth-5">
        <div class="row">
            <div class="col s12 center-align hide-on-med-and-up">
                <h5 class="courgette">How We Work</h5>
                <p>We have recently set up Fiverr to provide standard services, which can be found on <a href="https://www.fiverr.com/bitsnbobstech?up_rollout=true">Our Profile</a><br /><br />Want something a little more custom? Sure! Fill in the form below or head on over to our <a href="/contact">Contact Us</a> page!
            </div>
            <div class="col m9 l9 hide-on-small-only">
                <h5 class="courgette">How We Work</h5>
                <p>We have recently set up Fiverr to provide standard services, which can be found on <a href="https://www.fiverr.com/bitsnbobstech?up_rollout=true">Our Profile</a><br /><br />Want something a little more custom? Sure! Fill in the form below or head on over to our <a href="/contact">Contact Us</a> page!
            </div>
            <div class="col s12 m3 l3 center-align">
                <img class="responsive-img circle" src="/assets/img/fiverrlogo.png">
            </div>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col s12 textblock rounded left-align z-depth-5">
        <div class="row">
            <div class="col s12 left-align">
                <h5 class="courgette">Something more personal...</h5>
                <p>We understand that true gifts come from the heart, with meaning. That's why we have a custom design and print option, to keep you in control.</p>
                <br />
                <p>Fill in the below form to tell us what you want, and we'll be back within 4 working days with a quote.</p>
                <form action="https://formspree.io/f/mblrlyyw" method="POST">
                    <div class="row">
                        <div class="input-field inline col s12 m4 l4">
                            <input id="name_inline" name="name" type="text" class="validate" required>
                            <label for="name_inline">Name</label>
                            <span class="helper-text" data-error="Required" data-success=""></span>
                        </div>
                        <div class="input-field inline col s12 m4 l4">
                            <input id="email_inline" type="email" name="email" class="validate" required>
                            <label for="email_inline">Email</label>
                            <span class="helper-text" data-error="Invalid email address" data-success=""></span>
                        </div>
                        <div class="input-field inline col s12 m4 l4">
                            <input id="phone_inline" name="phone" type="tel" class="validate" pattern="[0-9]{11}">
                            <label for="phone_inline">Phone</label>
                            <span class="helper-text" data-error="Invalid phone number" data-success=""></span>
                        </div>
                        <input type="hidden" id="service">
                        <div class="input-field col s6" id="serviceselect">
                            <select id="service" name="service">
                                <option class="serviceselection" value="development">Website/Application development</option>
                                <option class="serviceselection" value="devicerepair">Device repair/upgrade</option>
                                <option class="serviceselection" value="3dprinting">3D printing</option>
                                <option class="serviceselection" value="datarecovery">Data recovery</option>
                                <option class="serviceselection" value="generalsupport">Tech Support</option>
                            </select>
                            <label>Which service best fits your request?</label>
                        </div>
                        <div class="input-field col s6">
                            <textarea id="message" class="materialize-textarea" name="message" required></textarea>
                            <label for="message">Message</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.serviceselection').on('click', function(test){

        alert('test');
    })
</script>