---
title: Portfolio
main: Our Work
---
<div class="row">
    <div class="col s12 textblock rounded left-align z-depth-5">
        <div class="row">
            <div class="col s12 left-align">
                <h5 class="courgette">Our Website</h5>
                <p>First, and most improtantly, is our front facing website. Developed by Rhys, using <a href="https://materializecss.com/">MaterializeSCSS</a> and <a href="https://nanoc.app/">Nanoc</a>. Hosted on <a href="https://about.gitlab.com/stages-devops-lifecycle/pages/">Gitlab Pages</a>, this website is free to run, and with a simple backend user interface, easy to update and manage too.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 textblock rounded right-align z-depth-5">
        <div class="row">
            <div class="col s12 right-align">
                <h5 class="courgette">Cerberus</h5>
                <p>None of this would be possible without our backend server. Developed by Chris and Rhys, Cerberus uses REST API technology, <a href="https://www.python.org/downloads/">Python 3</a>, and <a href="https://www.mysql.com/">MySQL.</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 textblock rounded left-align z-depth-5">
        <div class="row">
            <div class="col s12 left-align">
                <h5 class="courgette">PrintStick</h5>
                <p>PrintStick is an in-house solution for seamless 3D printer integration and ordering. Built on top of <a href="https://octoprint.org/">OctoPrint</a> using <a href="https://www.python.org/downloads/">Python 2.7</a> and a Raspberry Pi.</p>
            </div>
        </div>
    </div>
</div>