---
title: About Us
main: Well, hello!
second: Pleased to meet you!
---
<div class="row">
    <div class="col s12 textblock rounded left-align z-depth-5">
        <div class="row">
            <div class="col s12 m8 l9">
                <h5 class="courgette">About Us</h5>
                <p>The beginning is as good a place as any to tell our story.</p>
                <p>Bits n' Bobs started in 2019, with one 3D printer in a tiny little cupboard. Now, after 5 years, we're still going. With 3 printers, years of experience, and some of the best customer service around.</p>
                <p>So, why did we start? Well, business 101 is find a niche and fill it. That's what we've done, but maybe not in the way you think.</p>
                <p>Our popularity is largely dependent on our low costs. We manage this by forfeiting any physical office space, opting instead for a completely online, de-centralized process. This means we can instead funnel those savings into our customer experience and product quality</p>
            </div>
            <div class="col m4 l3 hide-on-small-only">
                <img class="responsive-img circle" src="/assets/img/grenadeBunny.jpg">
            </div>
        </div>
        <!-- <div class="row">
        </div> -->
    </div>
</div>
<div class="row">
    <div class="col s12 textblock left-align rounded z-depth-5">
        <h5 class="courgette">Meet the team</h5>
        <p>Want to get to know us a bit more? Here we have our team, with personal messages from each of them, a bit of info, and even testimonials!</p>
        <p>Interested in working with us? send your CV and Cover Letter, along with links to any previous work, to <a href="mailto:eclarke@bitsnbobs.tech">eclarke@bitsnbobs.tech</a>, and we will be in touch within 4 working days.</p>
        <div class="main-carousel" data-flickity='{ "wrapAround": true, "freeScroll": false, "contain": true, "prevNextButtons": true, "pageDots": false }'>
            <div class="carousel-cell" style="width: 100%;">
                <h4 class="courgette">Rhys O'Connor</h4>
                <p>Hi, pleased to meet you. I started Bits n' Bobs for people like you, me, and that one guy called Bob. I manage things around here generally and also deal with the web and development side of things</p>
            </div>
            <div class="carousel-cell">
                <h4 class="courgette">Chris Paynes</h4>
                <p>The hardware guy. Building PC's and device repair is my thing, which has saved me and my family a lot of headaches (and money!) over the 8 years I've been doing it professionally.
                I joined Bits n' Bobs in late 2020, and haven't looked back since.</p>
            </div>
            <div class="carousel-cell">
                <h4 class="courgette">Emily Clarke</h4>
                <p>Hey there! I handle the admin side of things here, and have done since Jan 2022. I love working here, things are kept simple and the small team means both staff and customers voices are heard!</p>
            </div>
        </div>
    </div>
</div>