<!-- Very simple. Literally adds a bit of design to the blog post page. The default layout is generated around this. Shouldn't need changing -->

<div class="row">
    <div class="col s12 textblock rounded right-align z-depth-5">
        <div class="row left-align">
            <div class="col s12">
                <h3 class="courgette-black">
                    <%= @item[:header] %>
                </h3>
                <h5 class="courgette-black">
                    <%= @item[:date] %>
                </h5>
            </div>
        </div>
        <div class="row left-align">
            <div class="col s12">
                <h6 class="black-font">
                    <%= yield() %>
                </h6>
            </div>
        </div>
    </div>
</div>
</div>
</body>