<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title id="title">Bits n' Bobs -
        <%= @item[:title] %>
    </title>
    <!-- Stylesheets -->
    <link href="/assets/css/imports.css" rel="stylesheet">
    <link href="/assets/fonts/courgette.css" rel="stylesheet">
    <link href="/assets/fonts/materials.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand"> -->

    <!-- JS -->
    <script type="text/javascript" src="/assets/JS/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/assets/JS/cookie.js"></script>
    <script type="text/javascript" src="/assets/JS/fontawesome.js"></script>
    <script type="text/javascript" src="/assets/JS/konami.js"></script>
    <script type="text/javascript" src="/assets/JS/materialize.js"></script>

    <script type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=G-0G5Z04TGW6" async></script>
    <script type="text/javascript" src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <!-- <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script> -->

    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script> -->

    <!-- <script type="text/javascript" src="/assets/JS/jszip.min.js"></script> -->

    <!-- META -->
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="3D printing and device repair for the masses." />
    <meta name="keywords" content="3D, 3D printing, Bits n' bobs, BnB, Device repair, cheap, high quality, SEO, search engine optimization, Rhys O'Connor" />
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo hide-on-small-only">
                    <p class="headerelem"><i class="material-icons large">polymer</i> Bits n' Bobs</p>
                </a>
                <a href="/" class="brand-logo left hide-on-med-and-up">
                    <p class="headerelem"><i class="material-icons large">polymer</i></p>
                </a>
                <ul class="pageselector right">
                    <li data-loc="order">
                        <a class="dropdown-trigger hide-on-small-only" href="#!" data-target="orderdropdown">Order <i class="material-icons right">arrow_drop_down</i></a>
                        <a class="dropdown-trigger nohover hide-on-med-and-up" style="padding-top: 4px;" href="#!" data-target="orderdropdown"><i class="fa-solid fa-basket-shopping" style="color: #ffffff;"></i></a>
                    </li>
                    <li data-loc="About">
                        <a class="dropdown-trigger hide-on-small-only" href="#!" data-target="aboutdropdown">About Us <i class="material-icons right">arrow_drop_down</i></a>
                        <a class="dropdown-trigger nohover hide-on-med-and-up" style="padding-top: 4px;" href="#!" data-target="aboutdropdown"><i class="fa-solid fa-question" style="color: #ffffff;"></i></a>
                    </li>
                    <li data-loc="contact">
                        <a class="hide-on-small-only" href="/contact">Get In Touch</a>
                        <a class="nohover hide-on-med-and-up" style="padding-top: 4px;" href="/contact"><i class="fa-solid fa-phone" style="color: #ffffff;"></i></a>
                    </li>
                </ul>
            </div>
            <ul id="aboutdropdown" class="dropdown-content">
                <li>
                    <a class="hide-on-small-only" href="/blog">Blog</a>
                    <a class="nohover hide-on-med-and-up" style="padding-top: 4px;" href="/blog"><i class="fa-solid fa-blog"></i></a>
                </li>
                <li>
                    <a class="hide-on-small-only" href="/portfolio">Portfolio</a>
                    <a class="nohover hide-on-med-and-up" style="padding-top: 4px;" href="/portfolio"><i class="fa-solid fa-briefcase"></i></a>
                </li>
                <li>
                    <a class="hide-on-small-only" href="/story">Our Story</a>
                    <a class="nohover hide-on-med-and-up" style="padding-top: 4px;" href="/story"><i class="fa-solid fa-book"></i></a>
                </li>
            </ul>
            <ul id="orderdropdown" class="dropdown-content">
                <li>
                    <a class="hide-on-small-only" href="/order">Custom</a>
                    <a class="nohover hide-on-med-and-up" style="padding-top: 4px;" href="/order"><i class="fa-solid fa-pencil"></i></a>
                </li>
                <li>
                    <a class="hide-on-small-only" href="https://www.fiverr.com/bitsnbobstech?up_rollout=true">Fiverr</a>
                    <a class="nohover hide-on-med-and-up" style="padding-top: 4px;" href="https://www.fiverr.com/bitsnbobstech?up_rollout=true"><img class="responsive-img circle" src="/assets/img/fiverrlogo.png"></i></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <div class="row valign-wrapper align-wrapper hide-on-small-only">
            <div class="col s3">
                <img class="responsive-img animated-fade circle z-depth-5" src="/assets/img/vase.jpg" alt="3D printed vase" />
            </div>
            <div class="col m6 l6">
                <h2 class="courgette-black">
                    <!-- Generated at compilation by nanoc -->
                    <%= @item[:main] %>
                </h2>
                <h4 class="courgette-black">
                    <%= @item[:second] %>
                </h4>
                <div class="row">
                    <div class="col s2"></div>
                    <div class="col s8"><a class="starlink" href="#"><img class="starCount" src="#" alt="trustpilot reviews"/></a></div>
                    <div class="col s2"></div>
                </div>
            </div>
            <div class="col s3">
                <img class="responsive-img animated-fade circle z-depth-5" src="/assets/img/dalek.jpg" alt="3d printed dalek" />
            </div>
        </div>
        <div class="row valign-wrapper align-wrapper center-align show-on-small hide-on-med-and-up">
            <h2 class="courgette-black">
                <!-- Generated at compilation by nanoc -->
                <%= @item[:main] %>
            </h2>
            <h4 class="courgette-black">
                <%= @item[:second] %>
            </h4>
            <div class="row">
                <div class="col s12 center-align">
                    <a class="starlink" href="#"><img class="starCount" src="#" /></a>
                </div>
            </div>
        </div>
        <!-- Generated at compilation by nanoc (injects separate page content, OR the rest of the blog layout which in turn injects content) -->
        <%= yield() %>
    </div>
</body>
<br />
<div id="cookiemodal" class="modal">
    <div class="modal-header">
        <h4>Cookie Policy - What you need to know</h4>
        <!-- <img src="/assets/img/CookieMon.png" class="right responsive-img circle" /> Couldn't get it set right. Very Annoying. TODO-->
    </div>
    <div class="modal-content">
        <h5>This policy</h5>
        <p>Bits n Bobs tech ("We, "Our", "Us") use cookies on this site.
            Please read this policy carefully as it contains important information regarding the use of cookies on our site</p>
        <h5>How to contact us</h5>
        <p>In the event you have any questions regarding this policy or our use of cookies, you can contact us at <a href="mailto:data@bitsnbobs.tech">data@bitsnbobs.tech</a> or on any of our socials found on our <a href="/contact">Contact</a> page</p>
        <h5>Cookies</h5>
        <p>A cookie is a small piece of information stored local to your device, accessible by our site. This is important as it allows persistent data between your visits to your site.</p>
        <h5>Consent</h5>
        <p>We only store cookies if given consent. However, declining cookies will lead to a lack of functionality on our site.
            We request consent with a floating button at the bottom right of all pages on our site, unless the policy has been accepted. The policy can always be viewed using the "Privacy policy" link found on the footer of the site. If you wish to opt out, this can be done using your browser's "clear cookies" functionality, found in settings.</p>
    </div>
    <div class="modal-ftr">
        <a href="#!" class="CookieAccept modal-close waves-effect waves-green btn-flat green">Accept</a>
        <a href="#!" class="modal-close waves-effect waves-red btn-flat red">Close</a>
    </div>
</div>
<footer>
    <div class="row">
        <div class="col s4 left">
            <p class="copyright">&#169; Bits n' Bobs <span id="year" /></p>
            <div id="cookieBtn" class="fixed-action-btn">
                <a class="tooltipped btn-floating btn-large textblock" data-position="left" data-tooltip="Cookies">
                    <i class="fa-solid fa-cookie-bite"></i>
                </a>
                <ul>
                    <li><button data-target="cookiemodal" data-position="left" data-tooltip="Our Policy" class="tooltipped btn modal-trigger btn-floating"><i class="fa-brands fa-readme"></i></button></li>
                    <li><a class="CookieAccept btn-floating green tooltipped" data-position="left" data-tooltip="Accept"><i class="fa-solid fa-check"></i></a></li>
                    <li><a class="btn-floating red tooltipped" data-position="left" data-tooltip="Decline"><i class="fa-solid fa-xmark"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col s4 center-align">
            <p><a href="https://eu1.myprofessionalmail.com/appsuite/#!!&app=io.ox/portal">Portal </a> | <a href="/order">Order</a> | <a href="/story">About</a> | <a href="/contact">Get In Touch</a> | <a href="/blog">Blog</a> | <a href="#" data-target="cookiemodal" class="modal-trigger">Cookie Policy</a></p>
        </div>
        <div class="col s4 right-align">
            <!-- Gotta give credit where credit is due -->
            <p>Made using <a href="https://materializecss.com/">MaterializeSCSS</a> and <a href="https://nanoc.app/">Nanoc</a>.<br />Hosting by <a href="https://about.gitlab.com/stages-devops-lifecycle/pages/">Gitlab Pages</a></p>
        </div>
    </div>
</footer>
<script type="text/javascript">
//ONELINERS
//sets year for copyright.
document.getElementById("year").innerHTML = new Date().getFullYear();

//D.R.Y VARIABLES
const urlParams = new URLSearchParams(window.location.search);

//DOCUMENT LISTENER
document.addEventListener('DOMContentLoaded', function() { //initialising document

    M.AutoInit(); //inits all Materialize components

    //fix for pathname including date etc. from a blogpost
    var currentpage = window.location.pathname.replaceAll('/', '');
    if (currentpage.includes('post')) {
        currentpage = "blog";
    }

    //marks active page in page selector
    pages = $('.pageselector').children();
    $(pages).each(function(index) {
        let currentiterpage = $(this).children()[0]; //returns a element
        let currentiterpagename = $(currentiterpage).attr('href').replaceAll('/', '');

        if (currentiterpagename === currentpage) {
            $(this).addClass('active');
        }
    })

    //Cookies logic
    $('.CookieAccept').click(function() { //cookies are now accepted

        setCookie('_cookieAccept', '1'); //persistent cookie acceptance
        setCookie('_visitCnt', '1'); //see visitcnt above

        $('#cookieBtn').remove();
        $('.CookieAccept').attr("disabled", "disabled");

        M.toast({ html: 'Mmmmmm.... Cookies are now enabled!' }) //hehe...
    })

    if (getCookie('_cookieAccept') === '1') {
        //cookies already accepted
        $('#cookieBtn').remove();
        $('.CookieAccept').attr("disabled", "disabled");
        $('.CookieAccept').text("Accepted");

        setCookie('_visitCnt', Number(getCookie('_visitCnt')) + 1); //not currently used, just here for futureproofing
    }
});

//TRUSTPILOT INTEGRATION
if (document.title.includes("Home")) {
    //gets the current trustpilot rating 
    $.get("https://widget.trustpilot.com/trustbox-data/5419b6a8b0d04a076446a9ad?businessUnitId=65282e3ac80a65c2c28c0bc0&locale=en-GB", (data, status) => {
        reviewObj = data.businessEntity;
        // this is here in case i want to inject trustpilot anywhere else
        document.getElementById('tp-custom-button').textContent = `See our ${reviewObj.numberOfReviews.total} reviews here`;
        $('.starCount').attr('src', `/assets/img/tp/tp-${reviewObj.stars}.png`); //dynamically retrieves rating as a starcount
        $('.starlink').attr('href', 'https://uk.trustpilot.com/review/bitsnbobs.tech')
    });
} else {
    $('.starlink').remove(); //removes the img element
}

//DEV environment marker
if (window.location.origin.includes("localhost")) {
    $('.headerelem').html("<i class=\"material-icons large\">polymer</i> Dev environment</p>"); //NOTE: On medium and small, this cuts into the selectors at top of page. This is on dev env only and will not replicate on live
}

//EASTER EGG (hit f12)
console.log('╔╗─╔╦═══╦╗──╔╗──╔═══╗╔╗\r\n║║─║║╔══╣║──║║──║╔═╗║║║\r\n║╚═╝║╚══╣║──║║──║║─║║║║\r\n║╔═╗║╔══╣║─╔╣║─╔╣║─║║╚╝\r\n║║─║║╚══╣╚═╝║╚═╝║╚═╝║╔╗\r\n╚╝─╚╩═══╩═══╩═══╩═══╝╚╝');
//gotta have fun, right?
console.log('I see you enjoy tinkering. Well, we\'re open source! Check out https://gitlab.com/BitsNBobs3d/bitsnbobs3d.gitlab.io to see all the monumental fuck-ups ;D');

//URLPARAMS LOGIC

//name (only applies in certain situations, only first name)
if (urlParams.has('nm')) {
    let name = urlParams.get('nm');

    M.toast({html: `hey ${name}!`})
}

//referrer
if (urlParams.has('ref')) {
    let ref = urlParams.get('ref');
    //the refferer code is stored in ref
    if (ref == 'QR') {
        //scanned QR to get here

    }
    if (ref == 'email') {
        //todo
    }

}
</script>
</html>