.brand-logo {
    p {
        i {
            font-size: 2.5rem;
        }

        font-family: 'Courgette';
        margin: 0px;
        padding-left: 5px;
    }
}

#profile-link {
    @extend .btn;
    @extend .waves-effect;
    @extend .waves-light;
}

.nohover:hover {
    background-color: color("shades", "transparent");
}

p,
td {
    color: color('shades', 'white');
}

.nav-wrapper {
    background-color: color("blue-grey", "darken-3");
}

.courgette-black {
    font-family: 'Courgette';
}

.courgette {
    font-family: 'Courgette';
    color: color('shades', 'white');
}

// .black-font {
//     color: color('shades', 'black');
// } for blog posts. tbh think white looks better

.align-wrapper {
    text-align: center;
}

.modal {
    .modal-header {
        @extend .z-depth-1;
        padding: 24px 24px 5px 24px;
        text-align: center;
    }

    .modal-content {

        p {
            color: color('shades', 'black');
        }

        h5 {
            padding-top: 10px;
        }
    }

    .modal-ftr {
        @extend .modal-footer;
        @extend .z-depth-1;
    }
}

.blogblock {
    margin-bottom: 20px;
    margin-right: 20px;
}

.row {
    padding-top: 20px;
}

.textblock {
    @extend .animated-fade;
    background-color: color("blue-grey", "darken-3");
    padding-bottom: 10px;
}

.animated-fade {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: upwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.rounded {
    border-radius: 10px;
}

footer {
    p.copyright {
        font-size: 1.2rem;
    }

    background-color: color("blue-grey", "darken-4");
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hidden {
    display: none;
}


.FAQContainer {
    overflow-y: hidden;

}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* ul.pageselector {
     li.active {
         border-bottom: solid white 10px;
     }
   } */