/*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */
/*cell number */
/* draggable */
/* ---- flickity-button ---- */
/* ---- previous/next buttons ---- */
/* right to left */
/* ---- page dots ---- */
.flickity-enabled {
    position: relative;
}

.carousel {
    background: #EEE;
}

.carousel-cell {
    width: 100%;
    height: 200px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: gallery-cell;
    text-align: center;
    background: color("blue-grey", "darken-3");
    color: color("shades", "white");

    * {
        display: block;
        margin-left: 40px;
        margin-right: 40px;
    }

    & {
        &:before {
            display: block;
            text-align: center;
            line-height: 200px;
            font-size: 80px;
            color: white;
        }
    }
}


.flickity-enabled {
    &:focus {
        outline: none;
    }
}


.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .flickity-viewport {
        cursor: move;
        cursor: -webkit-grab;
        cursor: grab;
    }

    .flickity-viewport.is-pointer-down {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }
}

.flickity-button {
    position: absolute;
    background: $primary-color-light;
    border: none;
    color: #333;

    &:hover {
        background: white;
        cursor: pointer;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 5px #19F;
    }

    &:active {
        opacity: 0.6;
    }

    &:disabled {
        opacity: 0.3;
        cursor: auto;
        pointer-events: none;
    }
}

.flickity-button-icon {
    fill: currentColor;
}

.flickity-prev-next-button {
    top: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transform: translateY(-50%);

    .flickity-button-icon {
        position: absolute;
        left: 20%;
        top: 20%;
        width: 60%;
        height: 60%;
    }
}

.flickity-prev-next-button.previous {
    left: 10px;
}

.flickity-prev-next-button.next {
    right: 10px;
}

.flickity-rtl {
    .flickity-prev-next-button.previous {
        left: auto;
        right: 10px;
    }

    .flickity-prev-next-button.next {
        right: auto;
        left: 10px;
    }

    .flickity-page-dots {
        direction: rtl;
    }
}

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;

    .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 8px;
        background: #333;
        border-radius: 50%;
        opacity: 0.25;
        cursor: pointer;
    }

    .dot.is-selected {
        opacity: 1;
    }
}